{% extends 'master.html' %}

{% block title %}
Jobs
{% endblock title %}

{% block content %}
    <div class="container">
        <div id="jobs">
            <section>
                <h1>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8"/>
                    </svg>
                    Trabajos anteriores
                </h1>
                <hr>
                <!--Reparame---------------------------------------------------->
                <article>
                    <fieldset id="job01">
                        <legend>
                            <h3>Reparame Servicio Apple</h3>
                        </legend>
                        <div>
                            <h4>Septiembre 2021 - Octubre 2022</h4>
                            <h4><i>Técnico Especialista Apple</i></h4>
                            <p>
                                Actividades realizadas:
                                <ul>
                                    <li>Reparación a nivel componente</li>
                                    <li>Atención a cliente</li>
                                    <li>Revisión y actualización de Software</li>
                                    <li>Mantenimiento y Actualización de equipos</li>
                                </ul>
                            </p>
                            <details>
                                <summary>Evidencias:</summary>
                                <div>
                                    <div>
                                        <figcaption id="img-screen">
                                            <div class="img-container" id="img-container-job01-img01">
                                                <img src="../../static/img/jobs/job01/img1.jpg" class="screen">
                                                <div>
                                                    <h3>Cambio de Chip GPU</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Mediante calor concentrado en la zona de contacto con la placa madre se realiza el cambio completo de la unidad de procesamiento gráfico dedicado de un iMac 2012.
                                                    </p>
                                                    <h5>Agosto 2022</h5>
                                                </div>
                                            </div>
                                            <div  class="img-container" id="img-container-job01-img02">
                                                <img src="../../static/img/jobs/job01/img2.jpg" class="screen">
                                                <div>
                                                    <h3>Actualicación iMac 2017</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Apertura de iMac 2017 para mantenimiento y actualización de componentes internos para mayor rendimiento.
                                                        <ul>
                                                            <li>Mantenimiento preventico</li>
                                                            <li>Actualización a SSD</li>
                                                            <li>Migración de información</li>
                                                        </ul>
                                                        <h5>Septiembre 2022</h5>
                                                    </p>
                                                </div>
                                            </div>
                                            <div  class="img-container" id="img-container-job01-img03">
                                                <img src="../../static/img/jobs/job01/img3.jpg" class="screen">
                                                <div>
                                                    <h3>Reballing GPU iMac 2017</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Cambio completo de soldadura de chip GPU de iMac 2014 de manera manual para puesta posterior en placa base.
                                                    </p>
                                                    <h5>Junio 2022</h5>
                                                </div>
                                            </div>
                                            <div  class="img-container" id="img-container-job01-img04">
                                                <img src="../../static/img/jobs/job01/img4.jpg" class="screen">
                                                <div>
                                                    <h3>Mantenimiento MacBook Pro 2017</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Mantenimiento completo a una MacBook Pro 2017. Desensable y limpieza de componentes internos del equipo.
                                                        <ul>
                                                            <li>Cambio de Pasta termica</li>
                                                            <li>Limpieza de Chasís de aluminio</li>
                                                            <li>Limpieza de teclado</li>
                                                        </ul>
                                                    </p>
                                                    <h5>Noviembre 2022</h5>
                                                </div>
                                            </div>
                                            <div  class="img-container" id="img-container-job01-img05">
                                                <img src="../../static/img/jobs/job01/img5.jpg" class="screen">
                                                <div>
                                                    <h3>Reconstrucción de Placa Base</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Reconstrucción de pistas y pads perdidos a causa de electrolisís causada por contacto con agua.
                                                    </p>
                                                    <h5>Febrero 2022</h5>
                                                </div>
                                            </div>
                                            <div  class="img-container" id="img-container-job01-img06">
                                                <img src="../../static/img/jobs/job01/img6.jpg" class="screen">
                                                <div>
                                                    <h3>Cambio de Batería iPhone 8</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Remplazo de batería de iPhone 8 por condición al 78%, se apagaba repentinamente.
                                                    </p>
                                                    <h5>Octubre 2022</h5>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </div>
                                    <hr>
                                    <div>
                                        <figcaption id="img-thumbnail">
                                            <img src="../../static/img/jobs/job01/img1.jpg" id="th01-img01" 
                                            title="Cambio de GPU">
                                            <img src="../../static/img/jobs/job01/img2.jpg" id="th01-img02"
                                            title="Mantenimiento iMac 2017">
                                            <img src="../../static/img/jobs/job01/img3.jpg" id="th01-img03"
                                            title="Reballing GPU">
                                            <img src="../../static/img/jobs/job01/img4.jpg" id="th01-img04"
                                            title="Mantenimietno MacBook Pro 2017">
                                            <img src="../../static/img/jobs/job01/img5.jpg" id="th01-img05"
                                            title="Reconstrución de Placa">
                                            <img src="../../static/img/jobs/job01/img6.jpg" id="th01-img06"
                                            title="Cambio de Batería iPhone8">
                                        </figcaption>
                                    </div>
                                </div>
                            </details>
                        </div>
                    </fieldset>
                </article>
                <!--MiPcel------------------------------------------------------>
                <article>
                    <fieldset id="job02">
                        <legend>
                            <h3>miPcel</h3>
                        </legend>
                        <div>
                            <h4>Octubre 2020 - Mayo 2021</h4>
                            <h4><i>Analista de Sistemas</i></h4>
                            <p>
                                Actividades realizadas:
                                <ul>
                                    <li>Reparación de equipos de cómputo</li>
                                    <li>Manejo de Sucursales</li>
                                    <li>Manejo de Bases de Datos</li>
                                    <li>Instalación de sistemas de vigilancia</li>
                                </ul>
                            </p>
                            <details>
                                <summary>Evidencias:</summary>
                                <div>
                                    <div>
                                        <figcaption id="img-screen">
                                            <div class="img-container2" id="img-container-job02-img01">
                                                <img src="../../static/img/jobs/job02/img1.jpg" class="screen">
                                                <div>
                                                    <h3>Mantenimiento PC Celeron</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Mantenimiento completo de Gabinete y placa base de un procesador Intel Celeron.
                                                    </p>
                                                    <h5>Noviembre 2020</h5>
                                                </div>
                                            </div>
                                            <div class="img-container2" id="img-container-job02-img02">
                                                <img src="../../static/img/jobs/job02/img2.jpg" class="screen">
                                                <div>
                                                    <h3>Mantenimiento PC Core i3</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Mantenimiento completo de Gabinete y placa base de un procesador Intel Core i3 de segunda generación.
                                                    </p>
                                                    <h5>Noviembre 2020</h5>
                                                </div>
                                            </div>
                                            <div class="img-container2" id="img-container-job02-img03">
                                                <img src="../../static/img/jobs/job02/img3.jpg" class="screen">
                                                <div>
                                                    <h3>Eliminación de Corrosión en placa base</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Eliminación de marcas de corrosión por humedad en una tarjeta lógica. Proceso de mantenimiento preventivo y testeo de fallas.
                                                    </p>
                                                    <h5>Noviembre 2020</h5>
                                                </div>
                                            </div>
                                            <div class="img-container2" id="img-container-job02-img04">
                                                <img src="../../static/img/jobs/job02/img4.jpg" class="screen">
                                                <div>
                                                    <h3>Instalación de Batería</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Remplazo de baterías de 1.5v para audifonos inalambricos de tipo botón.
                                                    </p>
                                                    <h5>Diciembre 2020</h5>
                                                </div>
                                            </div>
                                            <div class="img-container2" id="img-container-job02-img05">
                                                <img src="../../static/img/jobs/job02/img5.jpg" class="screen">
                                                <div>
                                                    <h3>Instalación de Cámaras</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Instalación de paquete de 4 cámaras dawa para circuito cerrado de vigilancia.
                                                    </p>
                                                    <h5>Agosto 2020</h5>
                                                </div>
                                            </div>
                                            <div class="img-container2" id="img-container-job02-img06">
                                                <img src="../../static/img/jobs/job02/img6.jpg" class="screen">
                                                <div>
                                                    <h3>Instalación de Sistema Operativo</h3>
                                                    <h4>Descripción:</h4>
                                                    <p>
                                                        Instalación de Sistema Operativo y configuración para uso en oficinas.
                                                    </p>
                                                    <h5>Septiembre 2020</h5>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </div>
                                    <hr>
                                    <div>
                                        <figcaption id="img-thumbnail">
                                            <img src="../../static/img/jobs/job02/img1.jpg" id="th02-img01" 
                                            title="Mantenimiento PC Celeron">
                                            <img src="../../static/img/jobs/job02/img2.jpg" id="th02-img02"
                                            title="Mantenimiento PC core i3">
                                            <img src="../../static/img/jobs/job02/img3.jpg" id="th02-img03"
                                            title="Eliminación de Corrosión">
                                            <img src="../../static/img/jobs/job02/img4.jpg" id="th02-img04"
                                            title="Instalación Batería">
                                            <img src="../../static/img/jobs/job02/img5.jpg" id="th02-img05"
                                            title="Instalación de camáras">
                                            <img src="../../static/img/jobs/job02/img6.jpg" id="th02-img06"
                                            title="Instalación Sistema Operativo">
                                        </figcaption>
                                    </div>
                                </div>
                            </details>
                        </div>
                    </fieldset>
                </article>
                <!--Freelance--------------------------------------------------->
                <article>
                    <fieldset id="job03">
                        <legend>
                            <h3>Freelance</h3>
                        </legend>
                        <div>
                            <h4>Octubre 2018 - Octubre 2020</h4>
                            <h4><i>Desarrollador a tiempo parcial</i></h4>
                            <p>
                                Actividades realizadas:
                                <ul>
                                    <li>Desarrollo Web para PyMEs</li>
                                    <li>Desarrollo de módulos con Python</li>
                                    <li>Servicio Técnico</li>
                                    <li>Desarrollo de soluciones a medida</li>
                                </ul>
                            </p>
                        </div>
                    </fieldset>
                </article>
            </section>
        </div>
    </div>
    <script type="text/javascript" src="../../static/js/jobs.js"></script>
{% endblock content %}